<section class="text-white bg-[#2c2c2c] w-screen h-screen">
  <header class="px-5 py-2 text-2xl bg-[#797778]">
    <h1>Integration Testing Menu</h1>
  </header>
  <nav class="mt-5">
    <ul class="flex flex-row justify-center gap-10 font-semibold">
      <li><a routerLink="/media">media</a></li>
      <li><a routerLink="stddev">stddev</a></li>
      <li><a>Lineal Regresion</a></li>
      <li><a>Simpson</a></li>
    </ul>
  </nav>
  <div class="m-10">
    <router-outlet></router-outlet>
  </div>
</section>
